/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: loucos, Arial, Helvetica, sans-serif;
  color: #050f2c;
}

@font-face {
  font-family: loucos;
  src: url("./assets/fonts/Loucos\ Lyne\ -\ thesimssansbold.otf")
    format("opentype");
}
