/* You can add global styles to this file, and also import other style files */
@import "./utilities/_variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: $vheight;
  font-family: loucos, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: loucos;
  src: url("./assets/fonts/Loucos\ Lyne\ -\ thesimssansbold.otf")
    format("opentype");
}
